@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}
body::before{
    content: "";
    position: fixed;
    background-image: linear-gradient(-120deg, rgba(33, 147, 176, 0.63) , rgba(5, 118, 230, 0.596), rgba(32, 93, 155, 0.301)), 
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 10px 0 30px 0;
    display: flex;
    justify-content: center;
    z-index: -1;
}
body {
    font-family: 'Poppins', sans-serif;
    color: white;
}
.container {
    width: 100%;
    margin: 3.125rem auto 0 auto;
    z-index: 0;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
header{
    flex-direction: column;
    align-self: center;
    justify-self: flex-start;
    margin: 0 0 25px 0;
}
#title , #description {
    text-align: center;
}
h1 {
    margin: 0;
    padding: 0;
}
#description {
    font-size: 18px;
    font-style: italic;
}
#survey-form {
    background: hsla(204, 69%, 35%, 0.6);
    height: max-content;
    width: 100%;
    padding: 25px 35px 15px 35px;
    border-radius: 5px;
}
.form-group{
    margin: 0 auto 10px auto;
    padding: 4px;
}
p , .submit-button{
    font-size: 18px;
    color: white;
}
label{
    display: flex;
    align-items:center ;
    font-size: 18px;
    color: white;
    margin: 0;
}
.form-control {
    display: block;
    width: 100%;
    height: 42px;
    border-radius: 4px;
    color: #495057;
    border: #ffffff solid 1px;
    margin: 0;
    padding: 0;
}
input,
button,
select,
textarea {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
span.span {
    margin-left: 3px;
}
.input-textarea {
    display: block;
    min-height: 120px;
    width: 100%;
    margin: 0;
    padding: 10px;
    border-radius: 4px;
    resize: vertical;
}
.input-radio , .input-checkbox {
    display: inline-block;
    margin-right: 10px;
    min-height: 20px;
    min-width: 20px;
}
.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background: hsl(143, 52%, 45%);
    border-radius: 2px;
    border-color: hsl(143, 52%, 45%);
    color: inherit;
}

footer {
  font-size: 25px;
}

button {
    border: none;
  }
